﻿/*-------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------*/
#footer-widgets {
    background-color: #28364f;
    color: #fff;
    padding: 0px 0 20px 0;
    margin-top: 30px;
    border-top: solid 5px #00708c;
}

.footer-widget-title {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 1.35em;
    color: #ff434c;
}

#footer-widgets a {
    color: #6aceeb;
    text-decoration: none;
}

    #footer-widgets a:hover {
        color: #fff;
    }

#footer {
    background-color: #333;
    color: #ccc;
    padding: 17px 0;
    text-align: center;
    border-top: solid 1px #444;
}

    #footer a {
        color: #6aceeb;
        text-decoration: none;
    }

        #footer a:hover {
            color: #fff;
        }

    #footer p {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

.footer-widget .media {
    margin-bottom: 10px;
}

    .footer-widget .media .media-heading {
        font-size: 1.2em;
    }

.footer-widget small {
    color: #bbb;
    font-style: oblique;
}

.footer-widget .thumbnail {
    border-color: #3c5177;
}
/* Social Header */
#social-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.social-icon {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: .5s;
    -webkit-transition-property: background;
    -webkit-transition-timing-function: ease;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    color: #fff;
    cursor: auto;
    display: inline-block;
    font-size: 21px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: .5s;
    transition-property: background;
    transition-timing-function: ease;
    vertical-align: baseline;
    width: 35px;
    margin-left: 6px;
    border: solid 1px #576890;
}

a.social-icon:hover {
    color: #fff !important;
    background-color: #00708c;
}

.soc-twitter {
    background-color: #00acee;
}

.soc-google-plus {
    background-color: #f00;
}

.soc-facebook {
    background-color: #0173b2;
}

.soc-instagram {
    background-color: #c0b2a9;
}

.soc-pinterest {
    background-color: #cb2229;
}

.soc-linkedin {
    background-color: #0274b3;
}

.soc-github {
    background-color: #000;
}
/*-------------------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------------------*/
#footer-widgets {
    background-color: #28364f;
    color: #fff;
    padding: 0px 0 20px 0;
    margin-top: 30px;
    border-top: solid 5px #00708c;
}

.footer-widget-title {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 1.35em;
    color: #ff434c;
}

#footer-widgets a {
    color: #6aceeb;
    text-decoration: none;
}

    #footer-widgets a:hover {
        color: #fff;
    }

#footer {
    background-color: #333;
    color: #ccc;
    padding: 17px 0;
    text-align: center;
    border-top: solid 1px #444;
}

    #footer a {
        color: #6aceeb;
        text-decoration: none;
    }

        #footer a:hover {
            color: #fff;
        }

    #footer p {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

.footer-widget .media {
    margin-bottom: 10px;
}

    .footer-widget .media .media-heading {
        font-size: 1.2em;
    }

.footer-widget small {
    color: #bbb;
    font-style: oblique;
}

.footer-widget .thumbnail {
    border-color: #3c5177;
}

.three_cols {
    overflow: auto;
}

    .three_cols > li {
        float: left;
        width: 33.333%;
        padding-bottom: 2px;
        padding-top: 1px;
    }

Panel
.panel {
    border-radius: 0;
}

.panel-title {
    color: #fff;
}

.panel .panel-heading,
.panel .panel-footer {
    background-color: #00708c;
    color: #fff;
    border-radius: 0;
    border: 0;
}

.panel-primary .panel-heading a,
.panel-primary .panel-footer a {
    color: #6aceeb;
}

    .panel-primary .panel-heading a:hover,
    .panel-primary .panel-footer a:hover,
    .panel-primary .panel-heading a:focus,
    .panel-primary .panel-footer a:focus {
        color: #eee;
    }

.panel .panel-footer i {
    margin-left: 8px;
}

.panel .panel-heading i,
.panel .panel-footer i {
    font-size: 1.1em;
    margin-right: 5px;
}

.panel > .panel-body {
    background-color: #f7f7f7;
    margin: 0;
}

.panel-footer ~ .panel-body {
    border-color: #f00 !important;
}

.panel .list-group {
    background-color: #f7f7f7;
    border: solid 1px #00708c;
}

    .panel .list-group .list-group-item {
        background-color: #f7f7f7;
    }

.panel-default > .panel-body {
    border-color: #ddd;
}

.panel-default .panel-heading {
    border-bottom: solid 1px #ddd;
}

.panel-default .panel-footer {
    border-top: solid 1px #ddd;
}

.panel-default .panel-heading,
.panel-default .panel-footer {
    background-color: #eee;
    color: #000;
}

.panel-default .panel-title {
    color: #000;
}

.panel-primary {
    border-color: #00708c;
}

    .panel-primary .panel-heading,
    .panel-primary .panel-footer {
        background-color: #00708c;
        color: #fff;
    }

    .panel-primary .panel-title {
        color: #fff;
    }

.panel-info {
    border-color: #8300ae;
}

    .panel-info .panel-heading,
    .panel-info .panel-footer {
        background-color: #8300ae;
        color: #fff;
    }

    .panel-info .panel-title {
        color: #fff;
    }

.panel-success {
    border-color: #0b9a00;
}

    .panel-success .panel-heading,
    .panel-success .panel-footer {
        background-color: #0b9a00;
        color: #fff;
    }

    .panel-success .panel-title {
        color: #fff;
    }

.panel-warning {
    border-color: #f89e01;
}

    .panel-warning .panel-heading,
    .panel-warning .panel-footer {
        background-color: #f89e01;
        color: #fff;
    }

    .panel-warning .panel-title {
        color: #fff;
    }

.panel-danger {
    border-color: #bf0000;
}

    .panel-danger .panel-heading,
    .panel-danger .panel-footer {
        background-color: #bf0000;
        color: #fff;
    }

    .panel-danger .panel-title {
        color: #fff;
    }

.panel-group > .panel {
    border-radius: 0;
}

    .panel-group > .panel .panel-body {
        background-color: #f7f7f7;
        border: solid 1px #00708c !important;
        margin: 0;
    }

    .panel-group > .panel a {
        color: #fff;
    }

    .panel-group > .panel .panel-heading {
        background-color: transparent;
        padding: 0;
        border: 0;
    }

        .panel-group > .panel .panel-heading a {
            display: block;
            background-color: #00708c;
            padding: 10px 15px;
            text-decoration: none;
            font-weight: 400;
            font-size: .9em;
        }

.panel-group .panel > .panel-heading a.collapsed:before {
    font-family: 'FontAwesome';
    content: "\f067";
    font-size: 1.4em;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    *margin-right: .3em;
}

.panel-group .panel > .panel-heading a:before {
    font-family: 'FontAwesome';
    content: "\f068";
    font-size: 1.4em;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    *margin-right: .3em;
}

/*-------------------------------------------------------------------*/
/* Mind Box */
/*-------------------------------------------------------------------*/
.mind-box {
    background-color: #00708c;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

    .mind-box:hover {
        background-color: #005c73;
    }

.mind-box-success {
    background-color: #097900;
}

    .mind-box-success:hover {
        background-color: #076000;
    }

.mind-box-info {
    background-color: #8300ae;
}

    .mind-box-info:hover {
        background-color: #700095;
    }

.mind-box-warning {
    background-color: #f89e01;
}

    .mind-box-warning:hover {
        background-color: #df8e01;
    }

.mind-box-danger {
    background-color: #bf0000;
}

    .mind-box-danger:hover {
        background-color: #a60000;
    }

.mind-box-title {
    color: #fff;
    font-size: 1.5em;
}

.mind-box i {
    font-size: 4em;
    margin: 5px auto 8px auto;
}
/*-------------------------------------------------------------------*/
/* Carousel Images */
/*-------------------------------------------------------------------*/
.carousel-images .carousel-indicators {
    bottom: auto;
    top: 10px;
}

.carousel-images .carousel-control {
    position: absolute;
    top: 50%;
    bottom: auto;
    height: 50px;
    left: 20px;
    width: 50px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 2000;
}

    .carousel-images .carousel-control.left {
        background-image: none;
        background-repeat: no-repeat;
        filter: none;
    }

    .carousel-images .carousel-control.right {
        right: 0;
        left: auto;
        background-image: none;
        background-repeat: no-repeat;
        filter: none;
    }

    .carousel-images .carousel-control:hover,
    .carousel-images .carousel-control:focus {
        color: #ffffff;
        text-decoration: none;
        outline: none;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

.carousel-images .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left: auto;
    right: auto;
    bottom: 0;
    padding: 20px;
}

    .carousel-images .carousel-caption h1,
    .carousel-images .carousel-caption h2,
    .carousel-images .carousel-caption h3,
    .carousel-images .carousel-caption h4,
    .carousel-images .carousel-caption h5,
    .carousel-images .carousel-caption h6 {
        color: #fff;
        margin: 0 0 10px 0;
    }

/* Animations */
.animation-delay-1 {
    -webkit-animation-delay: .1s !important;
    -moz-animation-delay: .1s !important;
    -ms-animation-delay: .1s !important;
    -o-animation-delay: .1s !important;
    animation-delay: .1s !important;
}

.animation-delay-2 {
    -webkit-animation-delay: .2s !important;
    -moz-animation-delay: .2s !important;
    -ms-animation-delay: .2s !important;
    -o-animation-delay: .2s !important;
    animation-delay: .2s !important;
}

.animation-delay-3 {
    -webkit-animation-delay: .3s !important;
    -moz-animation-delay: .3s !important;
    -ms-animation-delay: .3s !important;
    -o-animation-delay: .3s !important;
    animation-delay: .3s !important;
}

.animation-delay-4 {
    -webkit-animation-delay: .4s !important;
    -moz-animation-delay: .4s !important;
    -ms-animation-delay: .4s !important;
    -o-animation-delay: .4s !important;
    animation-delay: .4s !important;
}

.animation-delay-5 {
    -webkit-animation-delay: .5s !important;
    -moz-animation-delay: .5s !important;
    -ms-animation-delay: .5s !important;
    -o-animation-delay: .5s !important;
    animation-delay: .5s !important;
}

.animation-delay-6 {
    -webkit-animation-delay: .6s !important;
    -moz-animation-delay: .6s !important;
    -ms-animation-delay: .6s !important;
    -o-animation-delay: .6s !important;
    animation-delay: .6s !important;
}

.animation-delay-7 {
    -webkit-animation-delay: .7s !important;
    -moz-animation-delay: .7s !important;
    -ms-animation-delay: .7s !important;
    -o-animation-delay: .7s !important;
    animation-delay: .7s !important;
}

.animation-delay-8 {
    -webkit-animation-delay: .8s !important;
    -moz-animation-delay: .8s !important;
    -ms-animation-delay: .8s !important;
    -o-animation-delay: .8s !important;
    animation-delay: .8s !important;
}

.animation-delay-9 {
    -webkit-animation-delay: .9s !important;
    -moz-animation-delay: .9s !important;
    -ms-animation-delay: .9s !important;
    -o-animation-delay: .9s !important;
    animation-delay: .9s !important;
}

.animation-delay-10 {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    -ms-animation-delay: 1s !important;
    -o-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.animation-delay-11 {
    -webkit-animation-delay: 1.1s !important;
    -moz-animation-delay: 1.1s !important;
    -ms-animation-delay: 1.1s !important;
    -o-animation-delay: 1.1s !important;
    animation-delay: 1.1s !important;
}

.animation-delay-12 {
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s !important;
    -ms-animation-delay: 1.2s !important;
    -o-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
}

.animation-delay-13 {
    -webkit-animation-delay: 1.3s !important;
    -moz-animation-delay: 1.3s !important;
    -ms-animation-delay: 1.3s !important;
    -o-animation-delay: 1.3s !important;
    animation-delay: 1.3s !important;
}

.animation-delay-14 {
    -webkit-animation-delay: 1.4s !important;
    -moz-animation-delay: 1.4s !important;
    -ms-animation-delay: 1.4s !important;
    -o-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
}

.animation-delay-15 {
    -webkit-animation-delay: 1.5s !important;
    -moz-animation-delay: 1.5s !important;
    -ms-animation-delay: 1.5s !important;
    -o-animation-delay: 1.5s !important;
    animation-delay: 1.5s !important;
}

.animation-delay-16 {
    -webkit-animation-delay: 1.6s !important;
    -moz-animation-delay: 1.6s !important;
    -ms-animation-delay: 1.6s !important;
    -o-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
}

.animation-delay-17 {
    -webkit-animation-delay: 1.7s !important;
    -moz-animation-delay: 1.7s !important;
    -ms-animation-delay: 1.7s !important;
    -o-animation-delay: 1.7s !important;
    animation-delay: 1.7s !important;
}

.animation-delay-18 {
    -webkit-animation-delay: 1.8s !important;
    -moz-animation-delay: 1.8s !important;
    -ms-animation-delay: 1.8s !important;
    -o-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
}


/*-------------------------------------------------------------------*/
/* Carousel Mind */
/*-------------------------------------------------------------------*/

.carousel-mind .carousel-caption {
    position: static;
    text-align: left;
}

.carousel-mind .carousel-img-wrap {
    display: table-row;
}

.carousel-mind .carousel-img {
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    overflow: auto;
    display: static;
}

    .carousel-mind .carousel-img img {
        width: 100%;
        -webkit-animation-delay: .7s;
        -moz-animation-delay: .7s;
        -ms-animation-delay: .7s;
        -o-animation-delay: .7s;
        animation-delay: .7s;
    }

.carousel-mind .carousel-indicators {
    bottom: 0px !important;
}

    .carousel-mind .carousel-indicators li {
        margin: 0 2px;
    }

.carousel-text h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.4em;
}

.carousel-list {
    top: 60px;
    margin: 0 auto;
}

    .carousel-list li {
        color: #fff;
        font-size: 2em;
        margin-bottom: 10px;
        overflow: auto;
        font-family: 'Abel', sans-serif;
        text-transform: uppercase;
    }

        .carousel-list li:nth-child(1) {
            -webkit-animation-delay: .3s;
            -moz-animation-delay: .3s;
            -ms-animation-delay: .3s;
            -o-animation-delay: .3s;
            animation-delay: .3s;
        }

        .carousel-list li:nth-child(2) {
            -webkit-animation-delay: .5s;
            -moz-animation-delay: .5s;
            -ms-animation-delay: .5s;
            -o-animation-delay: .5s;
            animation-delay: .5s;
        }

        .carousel-list li:nth-child(3) {
            -webkit-animation-delay: .7s;
            -moz-animation-delay: .7s;
            -ms-animation-delay: .7s;
            -o-animation-delay: .7s;
            animation-delay: .7s;
        }

        .carousel-list li span {
            background-color: rgba(0, 0, 0, 0.4);
            padding: 18px;
        }

        .carousel-list li i {
            padding: 18px;
            margin-right: 10px;
            -webkit-background-clip: border-box;
            -webkit-background-origin: padding-box;
            -webkit-background-size: auto;
            background-clip: border-box;
            background-image: none;
            background-origin: padding-box;
            vertical-align: baseline;
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.4);
            width: 72px;
            text-align: center;
        }

@media (max-width: 767px) {
    .carousel-list li {
        font-size: 1.6em;
        line-height: 1.75em;
    }

        .carousel-list li span {
            padding: 5px;
        }

        .carousel-list li i {
            width: 42px;
            padding: 5px;
        }
}
